@import-normalize;
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  /* SideBar */
  .sidebar {
    @apply flex flex-col gap-y-4 h-screen bg-slate-50 p-2 pt-4 relative duration-300;
  }

  .sidebar__app-bar {
    @apply flex justify-between items-center;
  }

  .sidebar__app-title {
    @apply text-slate-800 font-medium text-xl duration-300;
  }

  .sidebar__btn-close {
    @apply cursor-pointer duration-300 text-white justify-end;
  }

  .sidebar__btn-icon {
    @apply w-8 h-8;
  }

  .sidebar__app-logo {
    @apply cursor-pointer duration-300 text-white;
  }

  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }